* {
    padding: 0px;
    margin: 0px;
}
header h2 {
    padding-top: 1.2em;
    color: #9370db;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
header h4 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 0.6em;
}
.card1 {
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    overflow: hidden;
}
.card1 h2 {
    font-size: 3.0rem;
    padding: 0.3em;
    color: #3cb371;
}
.card1 p {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 0 15px;
    margin: auto;
}
.card1 svg {
    height: 320px;
    position: absolute;
    margin-top: -90px;
}
.card1 img {
    width: 100px;
    height: 100px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
}
.card1 span {
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-family: "roboto", sans-serif;
    padding-top: 145px;
    padding-left: 105px;
    display: inline;
    position: absolute;
}
.icon1 {
    font-size: 1.1rem;
    padding-left: 120px;
    padding-top: 180px;
    position: absolute;
    color: #fff;
}
.card2 {
    width: 300px;
    height: 400px;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    overflow: hidden;
}
.card2 h2 {
    font-size: 3.0rem;
    padding: 0.3em;
    color: #9370db;
}
.card2 p {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 0 15px;
    margin: auto;
}
.card2 svg {
    height:320px;
    position: absolute;
    margin-top: -90px;
}
.card2 img {
    width: 100px;
    height: 100px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
}
.card2 span {
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-family: "roboto", sans-serif;
    padding-top: 145px;
    padding-left: 105px;
    display: inline;
    position: absolute;
}
.icon2 {
    font-size: 1.1rem;
    padding-left: 120px;
    padding-top: 180px;
    position: absolute;
    color: #fff;
}
.card3 {
    width: 300px;
    height: 400px;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    overflow: hidden;
}
.card3 h2 {
    font-size: 3.0rem;
    padding: 0.3em;
    color: #6495ed;
}
.card3 p {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 0 15px;
    margin: auto;
}
.card3 svg {
    height:320px;
    position: absolute;
    margin-top: -90px;
}
.card3 img {
    width: 100px;
    height: 100px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
}
.card3 span {
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-family: "roboto", sans-serif;
    padding-top: 145px;
    padding-left: 105px;
    display: inline;
    position: absolute;
}
.icon3 {
    font-size: 1.1rem;
    padding-left: 120px;
    padding-top: 180px;
    position: absolute;
    color: #fff;
}
@media (min-width : 770px) {
    .card1 {
        top: 55%;
        left: 30%;
    }
    .card2 {
        top: 55%;
        left: 70%;
    }
    .card3 {
        top: 120%;
    }
}
@media (min-width : 1000px) {
    .card1 {
        left: 20%;
    }
    .card2 {
        left: 50%;
    }
    .card3 {
        top: 55%;
        left: 80%;
    }
}