* {
    padding: 0px;
    margin: 0px;
}
header h2 {
    color: #1f75fe;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    padding: 1.3em;
    display: inline-block;
}
.bi-list {
    color: #6495ed;
    display: inline-block;
    position: absolute;
    right: 10px;
    font-size: 2em;
    padding-top: 0.6em;
}
.bi-search {
    color: #6495ed;
    display: inline-block;
    position: absolute;
    right: 60px;
    font-size: 1.6em;
    padding-top: 0.8em;
}
nav a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    display: none;
}
.image img {
    width: 100px;
    height: 100px;
    display: none;
}
.contanier {
    width: 150px;
    height: 40px;
    background-color: #a2add0;
    border-radius: 40px;
    position: absolute;
    margin-top: 2em;
    margin-left: 1em;
}
.contanier p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    top: 30%;
    left: 10%;
    position: absolute;
}
.main-content h1{
    color: #333399;
    font-family: "roboto", sans-serif;
    padding-top: 3.0em;
    padding-left: 0.4em;
    font-size: 3.2rem;
}
.main-content p {
    color: #5d89ba;
    font-family: "roboto", sans-serif;
    padding-top: 1.0em;
    padding-left: 0.9em;
    font-size: 1.3rem;
}
.main-content button {
    width: 150px;
    height: 40px;
    background-color:#4169e1 ;
    border-radius: 10px;
    border: none;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-top: 1.9em;
    margin-left: 0.9em;
    font-size: 1rem;
    transition: all 1s ease;
}
.main-content button:hover {
    border: 1px solid #4169e1;
    color: #4169e1;
    background-color: transparent;
}
.main-content #btn1 {
    border: 1px solid #4169e1;
    color: #4169e1;
    background-color: transparent;
    font-size: 0.9rem;
    transition: all 1s ease;
}
.main-content #btn1:hover {
    background-color:#4169e1;
    color: #fff;
}
footer p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-top: 7em;
    font-size: 1.2rem;
    color: grey;
}
.icon2 {
    font-size: 1.1rem;
    text-align: center;
    color: grey;
    margin-top: 1em;
}
@media (min-width : 770px) {
    .bi-list {
        display: none;
    }
    .bi-search {
        right: 40px;
    }
    .image img {
        display: block;
        position: absolute;
        width: 40vw;
        height: 70vh;
        margin-left: 58%;
        margin-top: 1%;
    }
}
@media (min-width : 1000px) {
    .image img {
        left: -12%;
        width: 50vw;
        height: 80vh;
        top: 4%;
    }
}